* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(98, 0, 255);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

.input,
.search-btn {
  height: 35px;
  border-radius: 2px;
  border: none;
}

.input {
  width: 250px;
  padding-left: 12px;
}

.search-btn {
  width: 35px;
  margin-left: -3px;
}

.icon {
  width: 16px;
  height: 16px;
}